site_name: Puzzle Makers Wiki
site_url: https://puzzlemakers.github.io
repo_url: https://github.com/PuzzleMakers/PuzzleMakers.github.io
repo_name: puzzlemakers/puzzlemakers.github.io
theme:
  name: material
  logo: https://i.ibb.co/84jVnn1k/icon1.png
  favicon: https://i.ibb.co/84jVnn1k/icon1.png
  font:
    text: Inter
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.indexes
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark Mode
      primary: indigo
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light Mode
      primary: indigo
markdown_extensions:
  - admonition
  - attr_list  
  - def_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.blocks.caption
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - search
  - awesome-nav
extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/VbxpsU46dT